<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="apis/css/bootstrap.min.css" />
        <link rel="stylesheet" href="app/css/style.css" />
        <title>PokeDex Renew</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" id="external-js"></script>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h1>Lista de Pokemon</h1>
                        <p>Lista de Pokemon</p>
                        <select name="" id="">
                            <option @change="perPage='5'">5</option>
                            <option @change="perPage='10'">10</option>
                            <option @change="perPage='15'">15</option>
                            <option @change="perPage='20'">20</option>
                        </select>
                        <ul v-model="listPk()">
                            <li v-for="item in result">{{item.name}}</li>
                        </ul>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-12"></div>
                </div>
            </div>
        </div>
        <script src="apis/js/jquery-3.2.1.slim.min.js"></script>
        <script src="apis/js/popper.min.js"></script>
        <script src="apis/js/bootstrap.min.js"></script>
        <script src="apis/js/vue.js"></script>
        <script src="app/js/index.js"></script>
    </body>
</html>
