#App {
    position: relative;
    display: block;
    background-color: #f7f7f7;
    width: 95%;
    height: 75vh;
    margin: 6rem auto;
    padding: 1rem;
    overflow-y:auto;
    overflow-x: hidden;
    border-radius: 6px;
    box-shadow: $shadowBox;

}
