@font-face {
    font-family: RobotoPK;
    src: url("../../Assets/fonts/roboto.woff2");
}
@font-face {
    font-family: RobotoBoldPK;
    src: url("../../Assets/fonts/robotoB.woff2");
}
@font-face {
    font-family: Ketchum;
    src: url("../../Assets/fonts/Ketchum.otf");
}
@font-face {
    font-family: PkClassic;
    src: url("../../Assets/fonts/PkClassic.ttf");
}

$font: RobotoPk;
$fontBold: RobotoBoldPk;
$fontAlt: Ketchum;
$fontClassic: PkClassic;
