* {
        margin: 0;
        padding: 0;
    }
    body,
    div,
    ul,
    li,
    code,
    p,
    label,
    input,
    select,
    section,
    main,
    footer,
    header,
    nav {
        box-sizing: border-box;
    }
    p,
    span,
    ul,
    li,
    th,
    tr,
    td {
        font-weight: 500;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            box-sizing: border-box;
            font-weight: 500;
        }
    }
    