//Fonts
@import "../Partials/fonts";
$font12: 0.75rem;
$font16: 1rem;
$font21: 1.3125rem;
$font24: 1.5rem;
$font32: 2rem;
$font64: 4rem;

//Colors
$black: #000;
$grey: #969696;
$white: #fff;
$red: #ff0000;
$redDark: #cc0000;
$blue: #3b4cca;
$blueLight: #3d7dca;
$blueDark: #003a70;
$yellow: #ffcb05;
$gold: #b3a125;

//Misc
$shadowBox: 0px 2px 2px $grey;
//Headers
html {
    font-family: $font;
}

//Class Patterns
.topTitlePk {
    font-family: Ketchum;
    font-size: $font64;
    background: $blueDark;
    text-shadow: 0 0px 3px $yellow;
    -webkit-text-stroke: 3px $blueLight;
    -webkit-background-clip: text;
    -webkit-text-fill-color: $yellow;
}
.letterClose{
    letter-spacing: -6px;
}
