.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    gap: 0.5rem;
    .cards {
        position: relative;
        width: 100%;
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        box-shadow: $shadowBox;
        .cardName {
            h2 {
                font-size: 21px;
                text-transform: capitalize;
            }

            p {
                font-size: 12px;
                text-transform: capitalize;
            }
            
            .idCard {
                position: absolute;
                top: 0rem;
                left: 0.5rem;
                font-family: $fontClassic;
                font-size: 12px;
            }
        }
    }
}
